{% extends "project/basicproject.html" %}

{% load i18n genmenu permissions_tags usernamegen displaynotification formatdate %}

{% block pagetitle %} {{ project.name }} | {% trans "View" %} {{entry.name}} {% endblock %}

{% block area_name %}
    <p>{% trans "View Entry" %}: {{wiki.name|truncatewords:3}}</p>
{% endblock %}

{% block menu %}
    {% genmenu "inproject" "wikiboards" project.id %}
{% endblock %}

{% block mini_menu %}
        <p>Export:</p>
        <p><a href="{% url wikiboard.views.export_wiki p_id=project.id,entry_id=wiki.id,entry_version=wikicurentry.id,file_type="pdf" %}">PDF</a> | <a href="{% url wikiboard.views.export_wiki p_id=project.id,entry_id=wiki.id,entry_version=wikicurentry.id,file_type="html" %}">HTML</a></p>
{% endblock %}

{% block right_content %}
    {% ifhasperm "PERMISSIONS_WIKIBOARD_EDITDELETE" user project wiki %}
    <div class="edit_button">
        <a href="{% url wikiboard.views.edit p_id=project.id,entry_id=wiki.id,entry_version=wikicurentry.id %}">{% trans "Edit This Entry" %}</a>
    </div>
    <div class="add_button_right"></div>
    <br/><br/>
   {% endifhasperm %}
    <div class="widget">
        <p>{% trans "Versions" %}</p>
    </div>
    <p>
    {% trans "Click on a version to view it:"%}
        <br/>
    {% for entry in wiki_entries %}
        {% ifequal entry.id  wikicurentry.id %}
            <span style="background: #006cc8; color: #FFF;">#{{forloop.revcounter}} by <b>{% usernamegen entry.author %}</b>, {% formatdate user entry.creation_date %}</span><br/>
        {% else %}
            <a href="{% url wikiboard.views.view_page p_id=project.id,entry_id=wiki.id,entry_version=entry.id %}" title="{% trans "Click to view" %}">#{{forloop.revcounter}} by <b>{% usernamegen entry.author %}</b>, {% formatdate user entry.creation_date %}</a><br/>
        {% endifequal %}
    {% endfor %}
    </p>
{% endblock %}

{% block main_content %}
    {% displaynotification messages %}

        {{wikicurentry.content|safe}}
    </br>
        <div style="border-top: 2px solid #4D4D4D; margin-top:10px; padding-top: 10px;">
        <div class="right_button">
            <a href="{% url wikiboard.views.list project.id %}" class="red">Cancel</a>
        </div>
    </form>
    </div>
{% endblock %}
