{% extends "base.html" %}

{% load i18n form_tags usernamegen formatdate %}

{% block pagetitle %} {{ company.short_name }} | {% trans "Search" %} {% endblock %}
	
{% block area_name %}
    {% if project %}
	   <p>{% trans "Search in " %} {{project.name}}</p>
	{% else %}
	   <p>{% trans "Search" %}</p>
	{% endif %}
{% endblock %}

{% block main_content %}

{% if project %}
	<form id="search" enctype="multipart/form-data" action="{% url search_search_project p_id=project.id %}" method="post">
{% else %}
	<form id="search" enctype="multipart/form-data" action="{% url search_search_general %}" method="post">
{% endif %}
	<div class="blue_section_obl">
		<p><strong>{% trans "Search" %}</strong></p>
		<p class="gray">{% trans "Enter search terms bellow" %}</p>
		{{ form.query }}
		<input class="submit" type="submit" value="{% trans "Search" %}" />
	</div>
</form>

{% if messages %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "messages" %}</span></p>
	<ul>
	{% for msg in messages %}
		<li style="margin: 10px 0 0 10px;">
			<div class="blue_item"><a class="blue" href="{% url message.views.read_add_comment p_id=msg.project.id,m_id=msg.id %}">{{ msg.title|truncatewords:8 }}</a></div>
			<div style="margin-left: 5px;">
				<p>{{ msg.body|truncatewords:8 }}</p>
				<p><span class="gray">{% trans "Posted by" %}</span> {% usernamegen msg.creator %} <span class="gray">, {% formatdate user msg.creation_date %}</span></p>
			</div>
		</li>
	{% endfor %}
	</ul>
	<div>
		<p style="text-align: right;">
			{% blocktrans %}<a href="">See all message results</a>{% endblocktrans %}
		</p>
	</div>
</div>
{% endif %}

{% if files %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "files" %}</span></p>
	{% regroup files by file as groupedfiles %}
	<ul>
	    {% for group in groupedfiles %}
	       <li style="margin: 10px 0 0 10px;">
			   <div class="blue_item"><a class="blue" href="{% url file.views.view_file p_id=group.grouper.project.id,file_id=group.grouper.id %}">{{ group.grouper.title|truncatewords:8 }}</a></div>
			   <div style="margin-left: 5px;">
					{% for item in group.list %}
						<p><strong>{% trans "Version"%} #NUMBER_OF_VERSION:</strong> {{ item.description|truncatewords:4 }}</p>
						<p><span class="gray">{% trans "Uploaded by" %}</span> {% usernamegen item.creator %} <span class="gray">, {% formatdate user item.creation_date %}</span></p>
					{% endfor %}
				</div>
			</li>
	    {% endfor %}
	</ul>
	<div>
		<p style="text-align: right;">
			{% blocktrans %}<a href="">See all file results</a>{% endblocktrans %}
		</p>
	</div>
</div>
{% endif %}


{% if wikiboards %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "wikiboards" %}</span></p>
	{% regroup wikiboards by wiki as groupedwiki %}
	<ul>
	    {% for group in groupedwiki %}
			<li style="margin: 10px 0 0 10px;">
			   <div class="blue_item"><a class="blue" href="{% url wikiboard.views.view_page p_id=group.grouper.project.id,entry_id=group.grouper.id,entry_version=group.grouper.last_version.id %}">{{ group.grouper.name|truncatewords:8 }}</a></div>
			   <div style="margin-left: 5px;">
					{% for item in group.list %}
						<p><strong>{% trans "Version"%} #NUMBER_OF_VERSION:</strong> {{ item.content|striptags|truncatewords:4 }}</p>
						<p><span class="gray">{% trans "By" %}</span> {% usernamegen item.author %} <span class="gray">, {% formatdate user item.creation_date %}</span></p>
					{% endfor %}
				</div>
			</li>
	    {% endfor %}
	</ul>
	<div>
		<p style="text-align: right;">
			{% blocktrans %}<a href="">See all wikiboard results</a>{% endblocktrans %}
		</p>
	</div>
</div>
{% endif %}
{% endblock %}



{% block static_menu%}                           
{% endblock %}
    
{% block right_content %}	
	<div class="widget">
		<p>{% trans "Your Projects" %}</p>
	</div>
	<div id="projects">
	<ul>
	{% for project in projects %}
		<li><a href="{% url project.views.overview project.id %}">{{project.name}}</a></li>
	{% endfor %}
	</ul>
	</div>	
{% endblock %}
