{% extends "base.html" %}

{% load i18n form_tags usernamegen formatdate displayevent displaymilestone displaymessage displaytodo pagination_tags genmenu %}

{% block pagetitle %} {{ company.short_name }} | {% trans "Search" %} {% endblock %}

{% block menu %}
	{% if project %}
		{% genmenu "inproject" "overview" project.id %}	   
	{% else %}
	   {% genmenu "root" "dashboard" %}
	{% endif %}	
{% endblock %}
	
{% block area_name %}
    {% if project %}
	   <p>{% trans "Search in " %} {{project.name}}</p>
	{% else %}
	   <p>{% trans "Search" %}</p>
	{% endif %}
{% endblock %}

{% block right_content %}
{% if results %}
    <div class="widget">
        <p>{% trans "Results" %}</p>
    </div>
        <p style="margin-top: 10px;" {% if not select %}class="light_blue_bg"{% endif %}><a href="{% url rancho.search.views.search %}?query={{ query }}">{% trans "All" %} ({{results|length}})</a></p>
    {% if messages %}
        <p {% ifequal select "messages" %}class="light_blue_bg"{% endifequal %}><a href="{% url rancho.search.views.search %}?select=messages&query={{ query }}">{% trans "Messages" %} ({{messages|length}})</a></p>
    {% endif %}
	{% if todos %}
        <p {% ifequal select "todos" %}class="light_blue_bg"{% endifequal %}><a href="{% url rancho.search.views.search %}?select=todos&query={{ query }}">{% trans "ToDos" %} ({{todos|length}})</a></p>
    {% endif %}
    {% if milestones %}
        <p {% ifequal select "milestones" %}class="light_blue_bg"{% endifequal %}><a href="{% url rancho.search.views.search %}?select=milestones&query={{ query }}">{% trans "Milestone" %} ({{milestones|length}})</a></p>
    {% endif %}
    {% if wikiboards %}
        <p {% ifequal select "wikiboards" %}class="light_blue_bg"{% endifequal %}><a href="{% url rancho.search.views.search %}?select=wikiboards&query={{ query }}">{% trans "Wikiboards" %} ({{wikiboards|length}})</a></p>
    {% endif %}
    {% if files %}
        <p {% ifequal select "files" %}class="light_blue_bg"{% endifequal %}><a href="{% url rancho.search.views.search %}?select=files&query={{ query }}">{% trans "Files" %} ({{files|length}})</a></p>
    {% endif %}
{% endif %}
{% endblock %}

{% block main_content %}

{% if project %}
	<form id="search" enctype="multipart/form-data" action="{% url search_search_project p_id=project.id %}" method="get">
{% else %}
	<form id="search" enctype="multipart/form-data" action="{% url search_search_general %}" method="get">
{% endif %}
	<div class="blue_section_obl">
		<p><strong>{% trans "Search" %}</strong></p>
		<p class="gray">{% trans "Enter search terms bellow" %}</p>
		{{ form.query }}
		<input class="submit" type="submit" value="{% trans "Search" %}" />
	</div>
</form>

{% if not results %}
    {% if query %}
    <p style="margin-top: 30px;">{% blocktrans %}No results found for the search terms: <strong>{{ query }}</strong>{% endblocktrans %}</p>
    {% else %}
    <p style="margin-top: 30px;">{% blocktrans %}The search terms were empty, please enter the search terms and try again.{% endblocktrans %}</p>
    {% endif %}
{% endif %}


{% if results and not select %}
    <div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	    <p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "All" %}</span></p>
	    {% autopaginate results 10 %}
	    {% paginate %}
		    {% for result in results %}
		        {% displayevent result %}
		    {% endfor %}
		{% paginate %}
	</div>
{% endif %}

{% ifequal select "messages" %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "messages" %}</span></p>
	{% autopaginate messages 5 %}
    {% paginate %}
	{% for message in messages %}
		{% displaymessage message user %}
	{% endfor %}
	{% paginate %}
</div>
{% endifequal %}

{% ifequal select "todos" %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "todos" %}</span></p>
	{% autopaginate todos 5 %}
    {% paginate %}
	{% for todo in todos %}
		{% displaytodo todo user %}
	{% endfor %}
	{% paginate %}
</div>
{% endifequal %}

{% ifequal select "milestones" %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
    <p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "milestones" %}</span></p>
    {% autopaginate milestones 5 %}
    {% paginate %}
    {% for milestone in milestones %}
        {% if milestone.is_complete %}
            {% displaymilestone milestone "green" user %}
        {% endif %}
        {% if milestone.is_upcoming %}
            {% displaymilestone milestone "blue" user %}
        {% endif %}
        {% if milestone.is_late %}
            {% displaymilestone milestone "red" user %}
        {% endif %}
    {% endfor %}
    {% paginate %}
</div>
{% endifequal %}

{% ifequal select "files" %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "files" %}</span></p>
	{% autopaginate files 5 %}
    {% paginate %}
	{% regroup files by file as groupedfiles %}
	<ul>
	    {% for group in groupedfiles %}
	       <li style="margin: 10px 0 0 10px;">
			   <div class="blue_item"><a class="blue" href="{% url file.views.view_file p_id=group.grouper.project.id,file_id=group.grouper.id %}">{{ group.grouper.title|truncatewords:8 }}</a></div>
			   <div style="margin-left: 5px;">
					{% for item in group.list %}
						<p><strong>{% trans "Version"%} #{{ item.get_version_number|add:"1" }}:</strong> {{ item.description|truncatewords:4 }}</p>
						<p><span class="gray">{% trans "Uploaded by" %}</span> {% usernamegen item.creator %} <span class="gray">, {% formatdate user item.creation_date %}</span></p>
					{% endfor %}
				</div>
			</li>
	    {% endfor %}
	</ul>
	{% paginate %}
</div>
{% endifequal %}


{% ifequal select "wikiboards" %}
<div style="border-bottom: 1px solid #afafaf; padding-bottom: 10px;">
	<p style="margin: 15px 0 10px 0;"><span class="smallcaps_title blue_bg">{% trans "wikiboards" %}</span></p>
	{% autopaginate wikiboards 5 %}
    {% paginate %}
	{% regroup wikiboards by wiki as groupedwiki %}
	<ul>
	    {% for group in groupedwiki %}
			<li style="margin: 10px 0 0 10px;">
			   <div class="blue_item"><a class="blue" href="{% url wikiboard.views.view_page p_id=group.grouper.project.id,entry_id=group.grouper.id,entry_version=group.grouper.last_version.id %}">{{ group.grouper.name|truncatewords:8 }}</a></div>
			   <div style="margin-left: 5px;">
					{% for item in group.list %}
						<p><strong>{% trans "Version"%} #{{ item.get_version_number|add:"1" }}:</strong> {{ item.content|striptags|truncatewords:4 }}</p>
						<p><span class="gray">{% trans "By" %}</span> {% usernamegen item.author %} <span class="gray">, {% formatdate user item.creation_date %}</span></p>
					{% endfor %}
				</div>
			</li>
	    {% endfor %}
	</ul>
	<div>
		<p style="text-align: right;">
			{% blocktrans %}<a href="">See all wikiboard results</a>{% endblocktrans %}
		</p>
	</div>
	{% paginate %}
</div>
{% endifequal %}

{% endblock %}



{% block static_menu%}                           
{% endblock %}
