
* {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #000;
}

h4 { 
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
}

h5 {
	font-family: Verdana, Arial, sans-serif;
	margin: 0 0 3px 0;
}

a {

	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #000;
}

a:hover {

	color: #006cc8;
	text-decoration: none;
}


body{

	margin: 0;

}

div#top{

	width: 970px;
	margin-left: auto;
	margin-right: auto;
	height: 21px;
}

div#change_place_comand{

	height: 21px;
	float: left;
}

div#change_place_comand a{

	font-size: 10px;

}

div#change_place_comand #dashboard{
	float: left;
	background: url('images/back.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#change_place_comand #company_settings{
	float: left;
	background: url('images/settings.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#change_place_comand #change_project{
	float: left;
	background: url('images/change.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}


div#change_place_comand #action{

	height: 21px;
	background: url('images/out_top_control_repeat.png');
	float: left;
}

div#change_place_comand #left{

	width: 4px;
	height: 21px;
	background: url('images/out_top_control_left.png');
	float: left;
}

div#change_place_comand #right{

	width: 4px;
	height: 21px;
	background: url('images/out_top_control_right.png');
	float: left;
}

div#session_settings_command{

	height: 21px;
/*
	background: url('images/out_top_control_right.png');
*/
	float: right;
}

div#session_settings_command a.user{

	font-weight: bold;
}

div#header{

	width: 970px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background: url('images/menus_bottom_bg_logo.png') bottom no-repeat;	
	height: 80px;
	padding: 0;
}

div#header #logo{

	float: left;
	margin: 0;
	font-size: 50px;
	color: #4D4D4D;
}

div#header #logo p{

	float: left;
	margin: 0;
	font-size: 50px;
	color: #4D4D4D;
}

div#header #logo img{
	
	float: left;
	margin: 0;
}

div#header #gradient{

	background: url('images/menus_left_horizontal.png') no-repeat 0px 66px;	
	height: 80px;
	width: 27px;
	float: left;
	
}

div#menus_nav_right {
	float: right;
	margin-right: 10px;
}

div#header #menus{

	padding-top: 42px;
	overflow: hidden;
}


div#header #menus ul { 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
} 

div#header #menus ul li { 
	float: left; 
	padding: 0; 
	margin: 0; 
	padding-top: 0; 
	background: url('images/default_style/menus_tab_rest.png') no-repeat right top; 
	margin-right: 1px;
	height: 25px;
}

div#header #menus ul li a { 

	display: block; 
	color: #fff; 
	text-decoration: none; 
	background: url('images/default_style/menus_tab_left.png') no-repeat left top; 
	padding: 3px 8px 5px 8px;
	margin: 0; 
}

div#header #menus ul li a:hover { 

color: #001971;
 
}

div#header #menus ul li.active { 
	float: left; 
	padding: 0; 
	margin: 0; 
	padding-top: 0; 
	background: url('images/menus_tab_active_rest.png') no-repeat right top; 
	margin-right: 1px;
	height: 25px;
}

div#header #menus ul li.active a { 

	display: block; 
	color: #000; 
	text-decoration: none; 
	background: url('images/menus_tab_active_left.png') no-repeat left top; 
	padding: 3px 8px 6px 8px;
	font-weight: bold;
}  

div#header #menus ul li.active a:hover { 

/*
	color: #006cc8;
*/
	text-decoration: none; 
}


div#main_fix{

	width: 970px;
	margin-left: auto;
	margin-right: auto;
/*
	background: #ededed url('images/main_bg.png') top repeat-x;	
	border-left: 1px solid #ababab;
	border-right: 1px solid #ababab;
	float: right;
*/
}

div#main{

	width: 968px;
	background: #ededed url('images/main_bg.png') top repeat-x;	
	border-left: 1px solid #ababab;
	border-right: 1px solid #ababab;
	float: right;
}

div#main_top{

	width: 100%;
	height: 55px;
	overflow: hidden;
}

div#main_top #left_top{

	width: 605px;
	height: 50px;
	margin-left: 10px;
	border-bottom: 1px solid #006cc8;
	float: left;
}

div#main_top #left_top #left{

	width: 350px;
	height: 50px;
	margin-left: 5px;
	float: left;
/*
	border: 1px solid #006cc8;
*/
}

div#main_top #left_top #left p{

	position: relative;
	margin: 0;
	padding-top: 15px;
	font-size: 14px;
	font-weight: bold;
}

div#main_top #left_top #right{

	width: 230px;
	height: 50px;
	margin-left: 5px;
	float: right;

}

div#main_top #left_top #right a{
	
	color: #001278;
	text-decoration: none;
	padding: 2px 3px 2px 3px;
}

div#main_top #left_top #right a:hover{
	
	color: #FFF;
	background: #006cc8;
}

div#main_top #left_top #right p{

	font-size: 11px;
	margin: 0;
/*
	font-weight: bold;
*/
}

div#main_top #right_top{

	width: 305px;
	height: 50px;
	margin-right: 10px;
/*
	border-bottom: 1px solid #006cc8;
*/
	float: right;
}

div#main_top #top_menu{
	background: url('images/menu_people_search.png') no-repeat;
	padding-left: 8px;
	height: 21px;
}

div#main_top #top_menu div#search{
	float: left;
	background: url('images/search.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#main_top #top_menu div#people{
	float: left;
	background: url('images/people_small.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#main_top #project_name{

	margin-top: 10px;
}

div#main_top #project_name p{

	font-size: 12px;
}

div#main_center{

	width: 605px;
	margin-left: 10px;
	background: #FFF;
	margin-top: 10px;
	min-height: 200px;
/*
	float: left;
*/
	overflow: hidden;
	
}

div#main_center_right{

	float: right;
	width: 305px;
	
}

div#main_center_right #logo{

	width: 275px;
	max-height: 100px;
}

div#main_center_right img{

	padding: 0;
	margin: 0;
}

div#main_center_right .widget{

	background: url('images/default_style/rightside_item.png') no-repeat;
	width: 275px;
	height: 27px;
	margin-top: 10px;
}

div#main_center_right .widget_gray{

	background: url('images/rightside_item_gray.png') no-repeat;
	width: 275px;
	height: 27px;
	margin-top: 10px;
}

div#main_center_right div#projects{

}

div#main_center_right ul{

	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}
div#main_center_right div#projects li {

	margin-top: 3px;
}
div#main_center_right div#projects li a {
	color: #006cc8;
	padding: 2px 3px 2px 3px;
	width: 270px;	
}

div#main_center_right  div#projects li a:hover{
	background: #006cc8;
	color: #FFF;
}

div#main_center_right .widget p, div#main_center_right .widget_gray p{

	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	padding-top: 4px;
	width: 265px;
}

div#main_center_right p{

	font-size: 12px;
	color: #000;
	padding: 5px 5px 5px 5px;
	width: 275px;
}

div#main_center_right p.person{

	font-size: 12px;
	color: #000;
	padding: 5px 5px 0 5px;
	width: 275px;
}

div#main_center_right p.login{

	color: #636363;
	font-size: 10px;
	padding: 0 0 5px 10px;
}


div#main_center_footer{

	background: #FFF url('images/main_inside_area_right.png') bottom right no-repeat;
	height: 10px;
	width: 605px;
	margin-left: 10px;
}

div#main_center_footer #innerleft{

	background: url('images/main_inside_area_left.png') bottom left no-repeat;
	height: 10px;
	width: 11px;
}

div#main_footer{

	width: 970px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div#main_footer #inside{

	width: 970px;
	height: 14px;
	background: #ededed url('images/main_footer_bottom.png') bottom repeat-x;
	float: right;
}

div#main_footer #left{

	background: url('images/main_left_down_corner.png') bottom left no-repeat;
	height: 100%;
	width: 14px;
	float: left;
}

div#main_footer #right{

	background: url('images/main_right_down_corner.png') bottom left no-repeat;
	height: 100%;
	width: 14px;
	float: right;
	
}

div#powered{

	background: url('images/powered.png') left no-repeat;
	width: 870px;
	height: 22px;
	margin-left: auto;
	margin-right: auto;
}

div.display_person{

	width: 600px;
	
}

div.display_person .person{

	width: 190px;
	height: 100px;
	float: left;
	overflow: hidden;
}

div.display_person .person .img{

	float: left;
	width: 50px;
}

div.display_person .person .details a.edit{

	color: #006cc8;
	font-size: 11px;
	text-decoration: none;
}

div.display_person .person .details a.edit:hover{

	background: #006cc8;
	color: #FFF;
	font-size: 11px;
}

div.display_person .person .details a.delete{

	color: #C90909;
	font-size: 11px;
	text-decoration: none;
}

div.display_person .person .details a.delete:hover{

	background: #C90909;
	color: #FFF;
	font-size: 11px;
}



div.add_button{

	background: url('images/add_button_left.png') top left no-repeat;
	height: 24px;
	float: left;
	padding: 3px 0 0 0;
	margin: 0;
	
}

div.add_button a{

	
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 5px 23px;
	
}

div.settings_button{

	background: url('images/settings_button_left.png') top left no-repeat;
	height: 24px;
	float: left;
	padding: 3px 0 0 0;
	margin: 0;
	
}

div.people_button{

	background: url('images/people_button_left.png') top left no-repeat;
	height: 24px;
	float: left;
	padding: 3px 0 0 0;
	margin: 0;
	
}

div.edit_button{

	background: url('images/edit_button_left.png') top left no-repeat;
	height: 24px;
	float: left;
	padding: 3px 0 0 0;
	margin: 0;
	
}

div.settings_button a{

	
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 5px 25px;
	
}

div.people_button a{

	
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 5px 28px;
	
}

div.edit_button a{

	font-weight: bold;
	text-decoration: none;
	padding: 0 0 5px 29px;
	
}

div.add_button_right{

	background: url('images/add_button_right.png') top right no-repeat;
	float: left;
	height: 24px;
	width: 11px;
}


input.big_entry{
	height: 25px;
	font-size: 20px;
	font-weight: bold;
	width: 500px;
}

input.submit {
	font-style: italic;
	cursor: pointer;
}

a.red{
	color: #F00;
}

a.red:hover{
	color: #FFF;
	background: #F00;
}

a.edit{

	color: #006cc8;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}

a.edit:hover{

	background: #006cc8;
	color: #FFF;
}

a.delete{

	color: #F00;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}

a.delete:hover{

	background: #F00;
	color: #FFF;
}



div.green_msg {
	background: #C6FFC6 url('images/yes.png') no-repeat 5px center;
	border: 1px solid #4BAC4B;
	color: #B21800;
	font-weight: bold;
	padding: 5px 0 5px 40px;
	margin-bottom: 5px;
	overflow: hidden;
}

div.red_msg {

	background: #FFF5F4 url('images/stop.png') no-repeat 5px center;
	border: 1px solid #FF5339;
	color: #B21800;
	font-weight: bold;
	padding: 5px 0 5px 40px;
	overflow: hidden;
}

label {

	font-size: 14px;
	color: #2D2D2D;
	font-family: Verdana, Arial, sans-serif;
}

div.blue_section{

	background: #EBF0FA;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

/*
When it's obligatory
*/
div.blue_section_obl{

	background: #EBF0FA;
	padding: 10px 10px 10px 10px;
	border: 1px solid #006cc8;
}

input.large{

	width: 200px;
}


input.xlarge{

	width: 500px;
}

input.fillx{
	width: 100%;
}

textarea.fillx{
    width: 100%;
}


input.small{

	width: 50px;
}

textarea.small{

	height: 100px;
}

textarea.small_wide{

	height: 100px;
	width: 450px;
}

.gray{

	color: #6B6666;
}

.textbottom{
	vertical-align: text-bottom;
}

.textcenter{
	vertical-align: middle;
}

.linethrough{
	text-decoration: line-through;
}

/* For simpleModal */
#modalOverlay {
  background-color:#000;
  cursor:wait;
}

#modalContainer {
	margin-top: 50px;
	width:300px;
	left:50%;
	top:15%;
	margin-left: -150px;
	background :#fff;
	border:3px solid #006cc8;
	padding: 10px 10px 10px 10px;
}
/* endFor simpleModal */

.yes_no_dialog p{

	font-size: 14px;
}

.yes_no_dialog p.title{

	font-size: 16px;
	font-weight: bold;
	background: url('images/important.png') 0 5px no-repeat;
	padding: 5px 0 5px 30px;
	margin-bottom: 5px;
}

.yes_no_dialog .buttons a{

	font-size: 15px;
	font-weight: bold;
}

h1{
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0;
}

h2{
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0;
}

h3{
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0;
}

h4{
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0;
}


p.todolist_title{

	font-size: 14px;
	font-weight: bold;
}

p.todolist_desc{

	margin: 0 0 12px 5px;
	font-style: italic;
	font-size: 14px;
}

p.yellow_bg{

	background: #FFE890;
}

div.display_todos{
	margin: 0 0 0 15px;
}

div.left_half{

	width: 270px;
	float: left;
	background: #EBF0FA;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

div.right_half{

	width: 270px;
	float: right;
	background: #EBF0FA;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

ul{

	list-style-type: none; 
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

.yellow_bg{
	background-color: #FFF6C2;
}

.blue_bg{
	background-color: #EBF0FA;
}

/*paginator css - ROCHA change this*/
div.pagination {
	padding-top: 2px;
	height: 1.7em;
	text-align: right;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
}
div.pagination span, div.pagination a {
	height: 20px;
	border: 1px solid;
	padding: 0 3px 0 3px;
}

div.pagination span.current {
	background: #EBF0FA;
	font-weight: bold;
	font-style: italic;
}

div.pagination a {
	padding: 1px 3px 0 3px;
	text-decoration: none;
}

div.pagination a.next {
	font-weight: bold;
}

div.pagination a.prev {
	font-weight: bold;
}

div.pagination span.disabled {
	color: #9e9e9e;
	border-color: #888888;
}

div.pagination span.disabled .prev{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12;
}

.left_button{
	float: left;
}

.right_button{
	float: right;
}

.form_bottom{
	border-top: 2px solid #4D4D4D;
	margin-top:10px;
	padding-top: 10px;
	height: 30px;
}

.smallcaps_title {
	padding: 0 10px 2px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	font-variant: small-caps;
	/*border-bottom: 1px solid #C10000;*/
}

.red_bg {
	background: #C10000;
}

.blue_bg {
	background: #0070C1;
}

.green_bg {
	background: #037F00;
}

.gray_bg {
	background: #afafaf;
}

.white {
	color: #FFF;
}

a.white {
	color: #FFF;
	text-decoration: underline;
}

a.white:hover {
	text-decoration: none;
}


/* MILESTONES */
div.item_list {
	margin: 5px 0 10px 5px;
}

div.item_list p{
	padding: 2px 5px 5px 5px;
}

div.item_list .red {
	color: #C10000;
}

div.item_list .green {
	color: #037F00;
}

div.item_list .responsible_and_date {
	float: left;
}

div.item_list .complete_incomplete {
	float: right;
}

div.item_list .complete_incomplete a.complete{
	color: #6B6666;
	font-weight: normal;
}

div.item_list .complete_incomplete a{
	color: #0070C1;
	font-weight: bold;
}

div.item_list .incomplete {
	float: right;
}

div.item_list .incomplete a, div.item_list .incomplete span{
	color: #0070C1;
	font-weight: bold;
}

div.item_list ,item_bottom {
	overflow: hidden;
}

.red_item {
	background: #FFE0DC;
	font-weight: bold;
	width: 100%;
	padding: 3px;
	overflow: hidden;
}

.item_title {
	float: left;
}

.red_item .item_title a:hover{
	background: none;
}

.item_controls {
	float: right;
	font-size: 16px;
	font-weight: normal;
	margin-right: 3px;
}

.blue_item {
	background: #EBF0FA;
	font-weight: bold;
	width: 100%;
	padding: 3px;
	overflow: hidden;
}

.blue_item .item_title a, .blue_item .item_title span{
	color: #0070C1;
}

.green_item {
	background: #C9FFC9;
	font-weight: bold;
	width: 100%;
	padding: 3px;
	overflow: hidden;
}

.green_item .item_title a{
	color: #037F00;
}

/* 
 * CALENDAR
 */

div #calendar {
	font-family: Verdana, Arial, sans-serif;
}

.cal_not_in_month{
	color: #949494;
}

div#calendar thead {
	font-family: Times;
	background: #EBF0FA;
	border: 1px solid #006CC7;
	border-collapse: collapse;
}

div#calendar table.cal_large td {
	text-align: right;
	padding: 5px 22px 5px 5px;
}

div#calendar tr {
	height: 30px;
}

div#calendar table {
	border-collapse: collapse;
}

div#calendar caption {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}

div#calendar caption a {
	font-size: 14px;
}

div#calendar table.cal_small {
}

div#calendar table.cal_large{
	width: 500px;
}

div#calendar table td.upcoming_event{
	background: #EBF0FA;
}

div#calendar table td.late_event{
	background: #FFE0DC;
}

/*
 * SEARCH FORM
 */

input.main_search {
	width: 400px;
}

input.general_search_input{
	border: 0;
	margin-bottom: 7px;
	height: 15px;
	color: #545454;
}

form#search{
	margin: 0;
	padding: 0;
}

/*LUIS TODO tagging stykes*/
.tag-cloud {
    text-align: center;    
}

.tag-1 a {
    font-size: 10px;
}

.tag-2 a{
    font-size: 12px;
}

.tag-3 a{
    font-size: 14px;
}

.tag-4 a{
    font-size: 16px;
}

.tag-5 a{
    font-size: 18px;
}

.tag-6 a{
    font-size: 20px;
}

/* For large tag cloud 6 step */
.tag-7 a{
    font-size: 22px;
}

.tag-8 a{
    font-size: 24px;
}

* div.separate_text p {
    margin-bottom: 15px;
}