{% extends "project/basicproject.html" %}

{% load i18n usernamegen pagination_tags modalconfirm genmenu permissions_tags displayfile displaynotification tagging_tags%}

{% block pagetitle %} {{ project.name }} | {% trans "View Files" %} {% endblock %}
    
{% block scripts%}
<!-- Because IE sucks big time-->
    <!--[if lt IE 7]>
    <style type='text/css'>
      
      #modalContainer {
        top: expression((document.documentElement.scrollTop
            || document.body.scrollTop) + Math.round(15 *
            (document.documentElement.offsetHeight
            || document.body.clientHeight) / 100) + 'px');
      }
    </style>
    <![endif]-->
{% endblock %}

{% block jquerypluginloader %}
<script type="text/javascript" src="/media/js/jquery/simplemodal.js"></script>
{% endblock %}
    
{% block jquerycode %}
    function delete_file(file_version_id) {	
	   window.location = "/project/{{project.id}}/files/delete/"+ file_version_id;           
       return false;
    }     
{% endblock %}	

{% block area_name %}
	{% if view_alone %}
		<p>{% trans "File" %}</p>
	{% else %}
    	<p>{% trans "Files" %}</p>
	{% endif %}
{% endblock %}

{% block menu %}
	{% genmenu "inproject" "files" project.id %}
{% endblock %}

{% block mini_menu %}
	{% if view_alone %}
		<br/>
		<a href="{% url file.views.list p_id=project.id %}">{% trans "Back to files list" %}</a>
	{% endif %}
{% endblock %}
    
{% block right_content %}
  {% ifhasperm "PERMISSIONS_FILE_CREATE" user project %}
    <div class="add_button">
        <a href="{% url file.views.create project.id %}">{% trans "New File" %}</a>
    </div>
    <div class="add_button_right"></div>
    <br/><br/>
  {% endifhasperm %}


	{% if file_tags %}
	<div class="widget">
	    <p>{% trans "Tag Cloud" %}</p>
	</div>
	<div class="tag-cloud">
	{% for tag in file_tags %}
	<span class="tag-{{tag.font_size}}"><a href="{% url message_list_tag p_id=project.id,tag=tag.name%}">{{tag.name}}</a></span> 
	{% endfor %}
	</div>
	{% endif %}
	
{% endblock %}

{% block main_content %}

	{% displaynotification messages %}

    {% if not files %}
        <p>{% trans "There are no files in this project yet." %}</p>
    {% else %}
	    {% autopaginate files 5 %}           
        {% paginate %}     
		
     	{% for file in files %}
			{% displayfile file user %}
		{% endfor %}
		{% paginate %}
    {% endif %}

{% endblock %}
