{% extends "project/basicproject.html" %}

{% load i18n usernamegen modalconfirm genmenu displaymilestone displaynotification permissions_tags %}

{% block pagetitle %} {{ project.name }} | {% trans "View Milestones" %} {% endblock %}


{% block jquerypluginloader %}
<script type="text/javascript" src="/media/js/jquery/simplemodal.js"></script>
{% endblock %}

{% block jquerycode %}
    function delete_milestone(milestone_id) {
        url = '{% url rancho.milestone.views.delete project.id,111111 %}';
        window.location = url.replace(/111111/g,milestone_id);
        return false;
    }
	function complete_milestone(milestone_id) {
	    url = '{% url rancho.milestone.views.complete project.id,111111 %}';
        window.location = url.replace(/111111/g,milestone_id);
        return false;
    }
	function incomplete_milestone(milestone_id) {
        url = '{% url rancho.milestone.views.incomplete project.id,111111 %}';
        window.location = url.replace(/111111/g,milestone_id);
        return false;
    }

{% endblock %}

{% block area_name %}
    <p>{% trans "Milestones" %}</p>
{% endblock %}

{% block menu %}
	{% genmenu "inproject" "milestones" project.id %}
{% endblock %}

{% block mini_menu %}
	{% if view_alone %}
		<br/>
		<a href="{% url milestone.views.list project.id %}">{% trans "Back to milestones list" %}</a>
	{% endif %}
{% endblock %}

{% block right_content %}
	{% ifhasperm "PERMISSIONS_MILESTONE_CREATE" user project  %}
	    <div class="add_button">
	        <a href="{% url milestone.views.create p_id=project.id %}">{% trans "New Milestone" %}</a>
	    </div>
	    <div class="add_button_right"></div>
	    <br/><br/>
	{% endifhasperm %}
{% endblock %}


{% block main_content %}

	{% displaynotification messages %}
	{% if not late_milestones and not upcoming_milestones and not complete_milestones %}
	    <p>{% trans "There are no milestones in this project yet." %}</p>
	{% endif %}

    {% if late_milestones %}
		<p style="margin-bottom: 10px;">
			{% if view_alone %}
				<span class="smallcaps_title red_bg white">{% trans "Late Milestones" %}</span>
			{% else %}
				<a class="smallcaps_title red_bg white" href="{% url list_with_status p_id=project.id,status="late" %}">{% trans "Late Milestones" %}</a>
			{% endif %}
		</p>
		{% for milestone in late_milestones %}
			{% displaymilestone milestone "red" user %}
		{% endfor %}
	{% endif %}
	{% if upcoming_milestones %}
		<p style="margin-bottom: 10px;">
			{% if view_alone %}
				<span class="smallcaps_title blue_bg white">{% trans "Upcoming Milestones" %}</span>
			{% else %}
				<a class="smallcaps_title blue_bg white" href="{% url list_with_status p_id=project.id,status="upcoming" %}">{% trans "Upcoming Milestones" %}</a>
			{% endif %}
		</p>
		{% for milestone in upcoming_milestones %}
			{% displaymilestone milestone "blue" user %}
		{% endfor %}
	{% endif %}
	{% if complete_milestones %}
		<p style="margin-bottom: 10px;">
			{% if view_alone %}
				<span class="smallcaps_title green_bg white">{% trans "Complete Milestones" %}</span>
			{% else %}
				<a class="smallcaps_title green_bg white" href="{% url list_with_status p_id=project.id,status="complete" %}">{% trans "Complete Milestones" %}</a>
			{% endif %}
		</p>
		{% for milestone in complete_milestones %}
			{% displaymilestone milestone "green" user %}
		{% endfor %}
	{% endif %}
{% endblock %}
