{% load displaytodo %}
<taconite>
    <append select="#todos{{todo_list}}">
        <div id="edit_todo{{todo.id}}" {% ifequal user todo.responsible %}style="background: #EBF0FA;"{% endifequal %}>
            {% displaytodo todo user %}
        </div>
        <script type="text/javascript">
            $("#check{{todo.id}}_link").click(
                function(){
                    $.get("{% url todo.views.switch_todo_status project.id %}",
                          {todo: {{todo.id}} });
                    $("img#check{{todo.id}}").attr({
                      src: "/media/basepage/images/check.png"});
                    return false;
                }
            );
        </script>
    </append>
    <attr select="input#todo_desc{{ todo_list }}" name="value" value=""/>
    <hide select="#empty_todo_error{{ todo_list }}" />
</taconite>
