{% extends "project/basicproject.html" %}

{% load i18n usernamegen genmenu form_tags displaynotification %}

{% block pagetitle %} {{ company.short_name }} | {% trans "Add ToDo List" %} {% endblock %}
	
{% block area_name %}
    <p>{% trans "Edit ToDo List" %}</p>
{% endblock %}

{% block menu %}
	{% genmenu "inproject" "todos" project.id %}
{% endblock %}

{% block right_content %}

{% endblock %}

{% block main_content %}
	
	{% displaynotification messages %}

	<form action="{% url todo.views.edit_todo_list p_id=project.id,todo_list_id=todo_list.id%}" method="post">
		
		{% beginrequestbox "required" _("List name") ""  %}
			{% printfield edit_todo_list_form.todolist_name "none" %}
		{% endrequestbox %}

		{% beginrequestbox "notrequired" _("Milestone") _("You can optionally link this list to a milestone. When the list of todos is completed, the milestone will also be completed.")  %}
			{% printfield edit_todo_list_form.milestone "left" %}
		{% endrequestbox %}

		{% beginrequestbox "notrequired" _("Description") _("You can add an optional description for this list.")  %}
			{% printfield  edit_todo_list_form.todolist_description "none" %}
	    {% endrequestbox %}

		{% printformfooter _("Update ToDo list") _("Cancel") "rancho.todo.views.view_todo_list p_id=project.id,todo_list_id=todo_list.id" %}

	</form>
{% endblock %}
