/* For simpleModal */
#modalOverlay {
  background-color:#000;
  cursor:wait;
}

#modalContainer {
	margin-top: 50px;
	width:300px;
	left:50%;
	top:15%;
	margin-left: -150px;
	background :#fff;
	border:3px solid #006cc8;
	padding: 10px 10px 10px 10px;
}
/* endFor simpleModal */

.yes_no_dialog p{

	font-size: 14px;
}

.yes_no_dialog p.title{

	font-size: 16px;
	font-weight: bold;
	background: url('/media/basepage/images/important.png') 0 5px no-repeat;
	padding: 5px 0 5px 30px;
	margin-bottom: 5px;
}

.yes_no_dialog .buttons a{

	font-size: 15px;
	font-weight: bold;
}