
* {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #000;
}

h4 { 
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
}

h5 {
	font-family: Verdana, Arial, sans-serif;
	margin: 0 0 3px 0;
}

a {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #000;
}

a:hover {
	color: #006cc8;
	text-decoration: none;
}

body {
	padding: 0 25px 0 25px;
    min-width: 1090px;
}

div#top{
	width: 100%;
	height: 21px;
}

div#change_place_comand{
	height: 21px;
	float: left;
}

div#change_place_comand a{
	font-size: 10px;
}

div#change_place_comand #dashboard{
	float: left;
	background: url('/media/basepage/images/back.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#change_place_comand #company_settings{
	float: left;
	background: url('/media/basepage/images/settings.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}

div#change_place_comand #system_logs{
        float: left;
        background: url('/media/icons/16/txt.png') no-repeat;
        height: 20px;
        padding: 0 5px 0 20px;
}

div#change_place_comand #change_project{
	float: left;
	background: url('/media/basepage/images/change.png') no-repeat;
	height: 20px;
	padding: 0 5px 0 20px;
}


div#change_place_comand #action{
	height: 21px;
	background: url('/media/basepage/images/out_top_control_repeat.png');
	float: left;
}

div#change_place_comand #left{
	width: 4px;
	height: 21px;
	background: url('/media/basepage/images/out_top_control_left.png');
	float: left;
}

div#change_place_comand #right{
	width: 4px;
	height: 21px;
	background: url('/media/basepage/images/out_top_control_right.png');
	float: left;
}

div#session_settings_command{
	height: 21px;
	float: right;
}

div#session_settings_command a.user{
	font-weight: bold;
}

div#header{
	width: 100%;
	margin-top: 15px;
	height: 79px;
	padding: 0;
}

div#header #logo{
	float: left;
	margin: 0;
	font-size: 50px;
	color: #4D4D4D;
}

div#header #logo p{
	float: left;
	margin: 0;
	font-size: 50px;
	color: #4D4D4D;
}

div#header #logo img{
	float: left;
	margin: 0;
}

div#header #gradient{
	background: url('/media/basepage/images/menus_left_horizontal.png') no-repeat 0px 66px;	
	height: 79px;
	width: 27px;
	float: left;
	
}

div#menus_nav_right {
	float: right;
	margin-right: 10px;
}

div#header #menus{
	padding-top: 42px;
	overflow: hidden;
	background: url('/media/basepage/images/menus_bottom_bg.png') bottom repeat-x;
	border:0;
    margin:0;
	margin-right: 12px;
}


div#header #menus ul { 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
} 

div#header #menus ul li { 
	float: left; 
	padding: 0; 
	margin: 0;
	padding-top: 0; 
	background: url('/media/basepage/images/default_style/menus_tab_rest.png') no-repeat right top; 
	margin-right: 1px;
	height: 25px;
}

div#header #menus ul li a { 
	display: block; 
	color: #fff; 
	text-decoration: none; 
	background: url('/media/basepage/images/default_style/menus_tab_left.png') no-repeat left top; 
	padding: 3px 8px 5px 8px;
	margin: 0; 
}

div#header #menus ul li a:hover { 
    color: #001971;
}

div#header #menus ul li.active { 
	float: left; 
	padding: 0; 
	margin: 0; 
	padding-top: 0; 
	background: url('/media/basepage/images/menus_tab_active_rest.png') no-repeat right top; 
	margin-right: 1px;
	height: 25px;
}

div#header #menus ul li.active a { 
	display: block; 
	color: #000; 
	text-decoration: none; 
	background: url('/media/basepage/images/menus_tab_active_left.png') no-repeat left top; 
	padding: 3px 8px 6px 8px;
	font-weight: bold;
}  

div#header #menus ul li.active a:hover {
	text-decoration: none; 
}

div#header div#bottom {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 12px;
    background: url('/media/basepage/images/main_right_up_corner.png') bottom right no-repeat;
}

div#main{
	width: 100%;
	background: #ededed url('/media/basepage/images/main_bg.png') top repeat-x;	
	border-left: 1px solid #ababab;
	border-right: 1px solid #ababab;
	float: right;
}

div#main_center_right_top{
	width: 280px;
	height: 50px;
	margin-right: 10px;
}

div#main_center_right_top #top_menu{
	background: url('/media/basepage/images/menu_people_search.png') no-repeat;
	padding-left: 8px;
	height: 21px;
}

div#main_center_right_top #top_menu div#search{
	float: left;
	background: url('/media/basepage/images/search.png') no-repeat;
	height: 20px;
}

div#main_center_right_top #project_name{
	margin-top: 10px;
}

div#main_center_right_top #project_name p{
	font-size: 12px;
}

div#main_center{
	width: 71%;
	margin-left: 10px;
	background: #FFF;
	margin-top: 10px;
	min-height: 250px;
	overflow: hidden;
}

div#main_center_top{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #006cc8;
    margin-bottom: 10px;
}

div#main_center_top #left{
    width: 350px;
    height: 50px;
    margin-left: 5px;
    float: left;
}

div#main_center_top #left p{
    position: relative;
    margin: 0;
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

div#main_center_top #right{
    width: 230px;
    height: 50px;
    margin-left: 5px;
    float: right;
}

div#main_center_top #right a{   
    color: #001278;
    text-decoration: none;
    padding: 2px 3px 2px 3px;
}

div#main_center_top #right a:hover{    
    color: #FFF;
    background: #006cc8;
}

div#main_center_top #right p{
    font-size: 11px;
    margin: 0;
}

div#main_center_right{
	float: right;
	width: 280px;
}

div#main_center_right #logo{
	width: 275px;
	max-height: 100px;
}

div#main_center_right img{
	padding: 0;
	margin: 0;
}

div#main_center_right .widget{
	background: url('/media/basepage/images/default_style/rightside_item.png') no-repeat;
	width: 275px;
	height: 27px;
	margin-top: 10px;
}

div#main_center_right .widget_gray{
	background: url('/media/basepage/images/rightside_item_gray.png') no-repeat;
	width: 275px;
	height: 27px;
	margin-top: 10px;
}

div#main_center_right ul{
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}
div#main_center_right div#projects li {
	margin-top: 3px;
}
div#main_center_right div#projects li a {
	color: #006cc8;
	padding: 2px 3px 2px 3px;
	width: 270px;	
}

div#main_center_right  div#projects li a:hover{
	background: #006cc8;
	color: #FFF;
}

div#main_center_right .widget p, div#main_center_right .widget_gray p{
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	padding-top: 4px;
	width: 265px;
}

div#main_center_right p{
	font-size: 12px;
	color: #000;
	padding: 5px 5px 5px 5px;
	width: 265px;
}

div#main_center_right p.person{
	font-size: 12px;
	color: #000;
	padding: 5px 5px 0 5px;
	width: 275px;
}

div#main_center_right p.login{
	color: #636363;
	font-size: 10px;
	padding: 0 0 5px 10px;
}

div#main_center_footer{
	background: #FFF url('/media/basepage/images/main_inside_area_right.png') bottom right no-repeat;
	height: 10px;
	width: 71%;
	margin-left: 10px;
}

div#main_center_footer #innerleft{
	background: url('/media/basepage/images/main_inside_area_left.png') bottom left no-repeat;
	height: 10px;
	width: 11px;
}

div#main_footer{
	width: 100%;
	overflow: hidden;
}

div#main_footer #inside{
	width: 100%;
	height: 14px;
	background: #ededed url('/media/basepage/images/main_footer_bottom.png') bottom repeat-x;
	float: right;
}

div#main_footer #left{
	background: url('/media/basepage/images/main_left_down_corner.png') bottom left no-repeat;
	height: 100%;
	width: 14px;
	float: left;
}

div#main_footer #right{
	background: url('/media/basepage/images/main_right_down_corner.png') bottom right no-repeat;
	height: 100%;
	width: 14px;
	float: right;
	
}

div#powered{
	background: url('/media/basepage/images/powered.png') left no-repeat;
	width: 870px;
	height: 22px;
	margin-left: auto;
	margin-right: auto;
}

a.red{
	color: #F00;
}

a.red:hover{
	color: #FFF;
	background: #F00;
}

a.edit{
	color: #006cc8;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}

a.edit:hover{
	background: #006cc8;
	color: #FFF;
}

a.delete{
	color: #F00;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}

a.delete:hover{
	background: #F00;
	color: #FFF;
}

div.green_msg {
	background: #C6FFC6 url('/media/basepage/images/yes.png') no-repeat 5px center;
	border: 1px solid #4BAC4B;
	color: #B21800;
	font-weight: bold;
	padding: 5px 0 5px 40px;
	margin-bottom: 5px;
	overflow: hidden;
}

div.red_msg {
	background: #FFF5F4 url('/media/basepage/images/stop.png') no-repeat 5px center;
	border: 1px solid #FF5339;
	color: #B21800;
	font-weight: bold;
	padding: 5px 0 5px 40px;
	overflow: hidden;
}

.gray{

	color: #6B6666;
}

.textbottom{
	vertical-align: text-bottom;
}

.textcenter{
	vertical-align: middle;
}

.linethrough{
	text-decoration: line-through;
}

h1, h2, h3, h4 {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0;
}

p.yellow_bg{
	background: #FFE890;
}

div.left_half{
	width: 270px;
	float: left;
	background: #EBF0FA;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

div.right_half{
	width: 270px;
	float: right;
	background: #EBF0FA;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

ul{
	list-style-type: none; 
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

.yellow_bg{
	background-color: #FFF6C2;
}

.blue_bg{
	background-color: #EBF0FA;
}

.light_blue_bg{
	background-color: #EBF0FA;
}


.smallcaps_title {
	padding: 0 10px 2px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	font-variant: small-caps;
}

.red_bg {
	background: #C10000;
}

.blue_bg {
	background: #0070C1;
}

.green_bg {
	background: #037F00;
}

.gray_bg {
	background: #afafaf;
}

.white {
	color: #FFF;
}

a.white {
	color: #FFF;
	text-decoration: underline;
}

a.white:hover {
	text-decoration: none;
}

* div.separate_text p {
    margin-bottom: 15px;
}

div.scrollable {
    overflow: auto;
}