{% extends "base.html" %}

{% load i18n form_tags sidewidget %}

{% block pagetitle %} {{ company.short_name }} | {% trans "Create new project" %} {% endblock %}

{% block jquerycode %}	
	$(document).ready(function() {
		$("#uploadfield").hide();
		{% if newProjectForm.project_logo.errors %}
				$("#uploadfield").show();
		{% endif %}
		$("a#showuploadfield").toggle(function() {
				$("#uploadfield").show('fast');
			},
			function() {
				$("#uploadfield").hide('fast');
			}
		);
	});
{% endblock %}

{% block area_name %}
	<p>{% trans "Create new project" %}</p>
{% endblock %}

{% block right_content %}
	{% sidewidget _("Information") "information" %}
	<p>{% trans 'The project logo will appear on the right part of every "inside project" page.' %}</p>
	<p>{% trans "After creating the project you can add people to it and define their permissions." %}</p>
{% endblock %}

{% block main_content %}	
	<div style="margin-left: 20px;">
	<form enctype="multipart/form-data" action="{% url project.views.new_project %}" method="post">
		{% beginrequestbox "required" _("Choose the name of the project") _("(for example &quot;Product Homepage&quot;)")  %}
			{% printfield  newProjectForm.project_name "none" %}
	  	{% endrequestbox %}
		{% beginrequestbox "notrequired" _("Project Logo") _("You can also set an optional project logo.")  %}
			{% printfield  newProjectForm.project_logo "left" %}
		{% endrequestbox %}
		
		{% printformfooter _("Create Project") _("Cancel") "rancho.user.views.dashboard" %}		
	
	</form>
	</div>
{% endblock %}
