{% extends "project/basicproject.html" %}

{% load i18n usernamegen genmenu form_tags displaynotification displayuser displayuserphoto modalconfirm%}

{% block pagetitle %} {{ project.name }} | {% trans "People & Permissions" %} {% endblock %}

{% block menu %}
    {% genmenu "inproject" "" project.id %}
{% endblock %}

{% block jquerypluginloader %}
<script type="text/javascript" src="/media/js/jquery/simplemodal.js"></script>
{% endblock %}

{% block jquerycode %}  
    
    function remove_user(user_id){
        window.location = "{% url project.views.remove_user project.id%}?userid=" + user_id;
        return false;
    }
    
   
{% endblock %}


{% block area_name %}
    <p>{% trans "People in project" %}</p>
{% endblock %}

{% block right_content %}   
    <div class="add_button">
        <a href="{% url project.views.add_people_to_project project.id %}">{% trans "Add person to project" %}</a>
    </div>
    <div class="add_button_right"></div>
{% endblock %}

{% block main_content %}    
    
	{% displaynotification messages %}
		
	{% regroup users_in_project by company as usersbycompany %}
	
	{% for group in usersbycompany %}
	   <p style="margin:20px 0 10px 0;"><span class="smallcaps_title blue_bg">{{group.grouper.short_name}}</span></p>
	   <div class="display_person">
	   		   	
	        {% for person in group.list %}
			 <div id="userInfo{{person.id}}" class="person">
        
	            <div class="img">               
	                <a href="{% url user.views.view_user person.id %}">{% displayuserphoto person "small" %}</a>                
	            </div>
	            <div class="details">	            
	                <p><a class="blue" href="{% url user.views.view_user person.id %}">{% usernamegen person "top" %}</a></p>
	                <p><a style="font-size: 11px;" href="#">{{ person.email }}</a></p>
					{% if person.get_profile.is_account_owner %}
                      <p style="font-size: 11px;">{% trans "Account Owner" %}</p>
                    {% else %}
                        {% if person.is_superuser %}
                            <p style="font-size: 11px;">{% trans "Administrator" %}</p>
                        {% else %}
						   {% if user.is_superuser %}
	                       <p><a class="edit" href="{% url project.views.edit_permissions project.id,person.id %}">{% trans "Permissions" %}</a>&nbsp;<a class="delete" href="" id="remove{{person.id}}">{% trans "Remove" %}</a></p>
						   {% modalconfirm "remove{{person.id}}" _("Are you sure you want to remove this user from the project?")  "remove_user(person.id)" %}
						   {% endif %}
					   {% endif %}
					{% endif %}  
	            
	            </div>
        
             </div>
				                     
            {% endfor %}  
			<div style="clear: both;"></div> 
		</div>                        
        {% endfor %}
	
        
{% endblock %}