{% extends "project/basicproject.html" %}

{% load i18n usernamegen genmenu form_tags sidewidget %}

{% block pagetitle %} {{ project.name }} | {% trans "New Message" %} {% endblock %}
		
{% block area_name %}
	<p>{% trans "Create New Message" %}</p>
{% endblock %}

{% block menu %}
	{% genmenu "inproject" "message" project.id %}
{% endblock %}

{% block right_content %}

{% sidewidget _("Information") "information" %}
<p>{% blocktrans %}Tags make messages easier to search for and relate to concepts in this project. By clicking "Show Tags" you can use already existing tags in this project.{% endblocktrans %}</p>
<p>{% blocktrans %}You can notify people about the posting of this new message by selecting them from "People in this project".{% endblocktrans %}</p>
{% endblock %}

{% block main_content %}
	<form action="{% url message.views.create p_id=project.id %}" method="post">		
	  {% beginrequestbox "required" _("Message") ""  %}
	      {% printfield  form.title "left" %}
		  {% printfield  form.message "top" %}
	  {% endrequestbox %}			

     {% beginrequestbox "notrequired" _("Message Tags") _("Apply optional tags to your message, split multime tags with comma.")  %}
            {% printfield  form.tags "left" %}
     {% endrequestbox %}
	 
	 {% beginrequestbox "notrequired" _("People in this project") _("Optionally check the persons you want to notify about the new message you're about to send.")  %}
		{% printfield  form.notify "none" %}
	 {% endrequestbox %}

	{% printformfooter _("Submit Message") _("Cancel") "rancho.message.views.list project.id" %}	
	</form>
{% endblock %}
