{% extends "registration/login.html" %}
{% load i18n form_tags %}

{% block pagetitle %} {{ company.short_name }} | {% trans "Reset Password" %} {% endblock %}		

{% block main_content %}
		<div id="warn" class="green_msg" style="height: 60px">			
			<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>		
		</div>
		
		<div id="inputs">
		 <!-- TODO: put URL -->
           <form action="" method="post" style="margin: 0;">
        		<table>
					{% printfield form.new_password1 "left" %}
                    {% printfield form.new_password2 "left" %}				    	    
				    <tr>
				        
				        <td align="center" colspan="2">
				        	<input class="submit" type="submit" value="{% trans "Change my password" %}" />
				        </td>
				    </tr>
				</table>
			</form>
		</div>
{% endblock %}